/* Projects.css */

/* Desktop styles */
.projects-section {
    background-color: #f0f0f0;
    padding: 60px 0;
    text-align: center;
}

.section-title {
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center; /* Align projects in two columns */
}

.project {
    width: calc(50% - 15px); /* 50% width for two columns with spacing */
    margin: 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-screenshot {
    max-width: 100%;
    height: auto;
}

.project-title {
    color: #3498db;
    font-size: 18px;
    background-color: #fff;
}

.project-description {
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
}

.project-links {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}

.project-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
    }

    .project {
        width: 95%; /* Full width for mobile */
    }

    .section-title {
        font-size: 24px; /* Adjust font size for mobile */
    }
}
