/* Projects.css */

#projects {
    padding: 5rem;
}

.projects-section {
    text-align: center;
    padding: 2rem 0;
}

#projects h2 {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 900;
    color: #000;
    margin-bottom: 4rem;
    position: relative;
}

#projects h2::after {
    content: '';
    display: block;
    width: 110px; /* Adjust the width as needed */
    height: 4px; /* Adjust the height as needed */
    background-color: #0f53ff; /* Use the blue color you prefer */
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.project {
    background-color: #edf8ff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    min-width: calc(42% - 20px); /* Adjust for the number of projects per row */
    max-width: calc(42% - 20px);
}

.project-screenshot {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-title {
    font-size: 1.5rem;
    color: #222;
    padding: 1rem;
    text-align: center;
}

.project-description {
    font-size: 1rem;
    color: #222;
    padding: 1rem;
    line-height: normal;
    text-align: left;
}

.project-description .highlighted-word {
    color: #d50000; /* You can change this color to your preference */
    font-weight: bold;
    font-size: 1.1;
}

.project-links {
    text-align: center;
    padding: 1rem;
}

.project-links a {
    text-decoration: none;
    color: #0f53ff;
    margin: 0 1rem;
    font-weight: 700;
}

.project-links a:hover {
    color: #000;
}

@media (max-width: 767px) {
    #projects {
        padding: 2rem;
    }

    .projects-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project {
        min-width: calc(90% - 5px);
  }
}
