/* Skills.css */

#skills {
  padding: 0 5rem 5rem 5rem;
}

.skills-section {
  padding: 2rem 0;
}

#skills h2 {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 900;
    color: #000;
    margin-bottom: 2rem;
    position: relative;
}


#skills h2::after {
  content: '';
  display: block;
  width: 75px; /* Adjust the width as needed */
  height: 4px; /* Adjust the height as needed */
  background-color: #0f53ff; /* Use the blue color you prefer */
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.skills-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.skill-list {
  text-align: left;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin: 1rem 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.category-title {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 1.3rem;
}

.skill-items {
  list-style: none;
  padding: 0;
}

.skill-items li {
  font-size: 1.2rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.skill-items i {
  margin-right: 0.5rem;
  color: #0f53ff;
}

@media (max-width: 767px) {
  #skills {
    padding: 0 0.5rem;
    
  }

  .skills-container {
    flex-direction: column;
    align-items: center;
}
    
  

  .skill-list {
    width: 75%;
  }
}
