/* About.css */

#about {
    padding: 6rem;
}

.about-heading {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 900;
    color: #000;
    margin-bottom: 2rem;
    position: relative;
}

.about-heading::after {
    content: '';
    display: block;
    width: 80px; /* Adjust the width as needed */
    height: 4px; /* Adjust the height as needed */
    background-color: #0f53ff; /* Use the blue color you prefer */
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-container {
    padding: 2rem;
}

.about-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #222;
    margin-bottom: 1.5rem;
}

.about-container p span {
    font-size: 1.3rem;
    font-weight: bold;
}

.about-dp {
    width: 300px;
    border-radius: 1.5rem;
}

.pic-container {
    flex-grow: 1;
}

@media (max-width: 767px) {
    #about {
        padding: 6rem 2rem;
    }

    .flex-container {
        flex-direction: column;
    }

    .about-container p{
        margin-bottom: 1.5rem;
        text-align: left;
    }
}

