header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}

.heading {
    margin: 0;
    padding: 1rem;
    font-size: 1.6rem;
}

.heading a {
    text-decoration: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bar {
    background-color: #000;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
}

.nav {
    display: block;
    text-align: right;
}

.nav-list {
    display: flex;
    flex-direction: row;
    /* justify-content: right; */
}

.nav-list li {
    list-style: none;
    padding: 1rem 1rem;
}

li a {
    text-decoration: none;
}

.menu-icon {
    display: none;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 767px) {
    .nav {
        display: none;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        padding-right: 1rem;
    }
  

     .mobile-nav {
        position: absolute;
        top: 4rem;
        right: 0;
        left: 0;
        z-index: 1;
        text-align: left;
        padding: 10px;
        background: #000;
        opacity: 0.5;
    }

    .mobile-nav li {
        padding: 5px;

        list-style: none;
    }

    .mobile-nav.active {
        display: block;
    }

    .nav-item {
        margin: 10px 0;
    } 
}

