/* Header.css */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding: 0 4rem;
    background-color: #3f51b5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.heading a {
    text-decoration: none;
    color: #ddd2d2; /* Set the default color for the links */
    transition: color 0.3s;
}

.heading a:hover {
    color: #000; /* Set the color you want on hover */
}

.navigation {
    display: flex;
    align-items: center;
}

.bar {
    background-color: #000;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    transition: 0.4s;
    display: none;
}

.menu-icon {
    display: none;
    cursor: pointer;
    padding-right: 1rem;
}

.nav {
    display: block;
    text-align: right;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-list li {
    list-style: none;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
}

.nav-list li a {
    color: #ddd2d2; /* Set the default color for the links */
    text-decoration: none;
    transition: color 0.3s; /* Add a smooth transition for the link color */
}

.nav-list li a:hover {
    color: #000; /* Set the color you want on hover */
}

@media screen and (max-width: 767px) {
    .menu-icon {
        display: block;
    }

    .nav {
        display: none;
    }

    .mobile-nav {
        position: absolute;
        top: 7vh;
        right: 0;
        left: 0;
        z-index: 1;
        text-align: left;
        padding: 1rem;
        background: #3f51b5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .mobile-nav-list {
        display: flex;
        flex-direction: column;
    }

    .mobile-nav-list li a {
        color: #ddd2d2; /* Set the default color for the links */
        text-decoration: none;
        transition: color 0.3s; /* Add a smooth transition for the link color */
    }

    .mobile-nav-list li a:hover {
        color: #000; /* Set the color you want on hover */
    }

    .mobile-nav-item {
        list-style: none;
        padding: 1rem 0;
    }

    .bar {
        display: block;
    }

    .mobile-nav.active {
        display: block;
    }

    .nav-item {
        margin: 10px 0;
    }
}

