/* Intro.css */

.intro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 7vh;
    padding: 5rem 0;
    background-color: #3f51b5;
  }
  
  
  .dp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .bio {
    padding: 1rem;
    text-align: left;
  }
  
  h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    color:  #f6f3f3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #f6f3f3;
  }

  

  @media screen and (max-width: 767px) {
    .intro {
      flex-direction: column;
    }

    h1, p {
      text-align: center;
    }
  }
  

/* .intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.8rem;
}

.dp {
    border-radius: 50%;
    width: 400px;
}

.bio {
    padding: 0 2rem;
}

.bio h1 {
    font-size: 2.7rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 0;
    text-align: center;
}

.bio p {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

@media (max-width: 500px) {
    .bio h1 {
        font-size: 1.8rem;
    }
    .bio p {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }

    img {
        width: 300px;
    }
    
} */