.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* height: 70vh; */
    margin-top: 0.8rem;
}

img {
    border-radius: 50%;
    width: 400px;
}

.bio {
    padding: 0 2rem;
}

.bio h1 {
    font-size: 2.7rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 0;
    text-align: center;
}

.bio p {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

@media (max-width: 500px) {
    .bio h1 {
        font-size: 1.8rem;
    }
    .bio p {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
        text-align: center;
    }

    img {
        width: 300px;
    }
    
}