/* Footer.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 4rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo a {
    color: #f2f2f2;
    text-decoration: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 1rem 0;
}

.footer-links a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 1.2rem;
}

.footer a:hover {
  color: #f2f2f2;
  text-decoration: underline;
}

.social-icon {
    text-decoration: none;
    color: #f1f1f1;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.social-icon i {
    font-size: 1.5rem;
}
